body{
    height: 100%;
    background-image: url('2.jpg');
}
.container{
    background-color: white;
    width: 30%;
    height: 200%;
    margin-top:0%;
    align-items: center;
}

.form-container{
    border-radius: 12px;
    height: 600px;
    width: 30%;
    padding: 10px;
    margin-left: -16px;
    margin-top: -16px;
    margin-bottom: -16px;
    background-color: rgb(209, 107, 107); 
}

input{
    box-shadow: 6px 4px 8px;
    border: none;
    border-radius: 10px;
    width: 250px;
    margin: 5px 0px;
    padding: 15px;

}

input:hover{
    background-color: rgb(248, 226, 226);
}

img{
    margin-top: 50px;
    height: 200px;
    width: 180px;
}

button{
    width: 280px;
    background-color: rgb(49, 48, 48);
    color: white;
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 17, 255);
}

.input{
    align-items: center;
    padding-left: 50px;
}

.message{
    padding-top: 10px;
    align-self: center;
    padding-left: 25px;
}
.heading{
    padding-left: 10px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  footer {
    margin-top: 80px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
 }